RewriteEngine On
RewriteBase /New-online-liberary-management-system/

# Disable directory listing
Options -Indexes

# Redirect all requests to index.php if not a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
